{
  "plugins": ["prettier-plugin-astro"],
  "astroAllowShorthand": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 300,
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
